@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background: #FFFDD0;
    color: #222222;
    margin: 0;
    font-family: "Barlow";
    width: 100%;
}

a{
    text-decoration: none;
    color:#222222
}

a:hover{
    color:#ca3c3f
}

.header{
    width: auto;
    text-align: center;
    padding: 0;
    margin-top: 5rem;
}

.header img {
    max-width: 300px;
    width: 40vw;
    height: auto;
    display: block;
    margin: 0 auto;
}

.menu{
    width: auto;
    text-align: center;
    font-weight: bold;
}

.menu-links{
    list-style: none;
}

.banner{
    width: 100%;
    text-align: center;
}

.coluna{
    width: 45%;
    display: inline-block;
    vertical-align: middle;
}
.banner p{
    font-size: 2.5rem;
    text-align: left;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
}

.botao{
    border: 0.063rem solid #333333;
    border-radius: 0.875rem;
    padding: 1.25rem;
    font-size: 1.25rem;
}

.banner img{
    width: 90%;
}

.cardapio{
    box-sizing: border-box;
    border-top: 0.063rem dashed #999999;
    width: 100%;
    margin: auto;
    max-width: 43.75rem;
    text-align: left;
    margin-top: 6.25rem;
    padding: 3.125rem 0.9375rem 0.625rem 0.9375rem;
}

.cardapio-categoria{
    text-align: left;
    color: #ca3c3f;
    font-size: 1.375rem;
    margin-top: 3.125rem;
}

.categoria-item{
    padding-top: 1.25rem;
    text-align: left;
    width: 100%;
}

.cardapio-nome{
    display: inline-block;
    font-size: 1.125rem;
    font-weight: bold;
}

.cardapio-preco{
    font-size: 0.75rem;
    color: #ca3c3f;
}

.cardapio-descricao{
    font-size: 0.75rem;
    color: #999999;
}

footer{
    margin-top: 6.25rem;
    text-align: center;
    padding: 3.125rem;
    font-size: 0.875rem;
    color: #fff;
    background-color: #333333;
}

.link-whatsapp img{
    height: 3.75rem;
    position: fixed;
    right: 1.25rem;
    bottom: 1.25rem;
}

@media (max-width: 56.25rem) {
    .coluna{
        width: 100%;
        vertical-align: middle;
        margin-bottom: 1.875rem;
    }

    .banner p{
        font-size: 1.625rem;
        text-align: center;
        padding-left: 3.125rem;
        padding-right: 3.125rem;
    }
    .header img {
        max-width: 180px;
        width: 60vw;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}